
article {
            border-radius: 10px;
            box-shadow: 0 4px 8px #780000;
            background-color: #c60000;
            padding: 20px;
            margin: 20px;
            max-width: 500px;
        }
h1 {
            color: #c60000
     }

